<div class="post-card" data-post-id="{{id}}">
  <div class="post-content {{#unless noLink}}clickable-post{{/unless}}" {{#unless noLink}}data-permalink="{{permalink this}}"{{/unless}}>
    <div class="post-body">{{{content_html}}}</div>
  </div>
  {{#with (parseJson metadata) as |parsedMeta|}}
  {{#if parsedMeta.url}}
  <div class="post-link-preview" onclick="window.open('{{parsedMeta.url}}', '_blank', 'noopener,noreferrer'); event.preventDefault(); event.stopPropagation();">
    {{#if parsedMeta.image_url}}
    <div class="link-preview-image">
      <img src="{{parsedMeta.image_url}}" alt="Link preview" class="link-image">
    </div>
    {{/if}}
    
    <div class="link-preview-info">
      {{#if parsedMeta.title}}
        <div class="link-title">{{parsedMeta.title}}</div>
      {{/if}}
      
      {{#if parsedMeta.description}}
        <div class="link-description">{{parsedMeta.description}}</div>
      {{/if}}
      
      {{#if parsedMeta.url}}
        <div class="link-url-display">
          <span class="link-source">
            {{getDomain parsedMeta.url}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
  {{/if}}
  {{/with}}


  <!-- Compact reactions UI inside post content -->
  <div class="post-reactions-compact" 
       x-data="postReactions({{id}})" 
       x-init="loadReactions()"
       :data-post-id="{{id}}">
    <div class="reactions-wrapper">
      <!-- Show only active reactions unless toggle is clicked -->
      <template x-for="reaction in reactions" :key="reaction.type">
        <button 
          class="reaction-button" 
          :class="{ 'reaction-selected': userReaction === reaction.type }" 
          @click="toggleReaction(reaction.type)" 
          :title="reaction.description"
          x-show="showAllReactions || hasReactions(reaction.type)">
          <span class="reaction-emoji" x-text="reaction.emoji"></span>
          <span class="reaction-count" x-text="counts[reaction.type] || 0"></span>
        </button>
      </template>
      <!-- Toggle link to show all reactions -->
      <a href="#" 
         class="show-all-reactions" 
         @click.prevent="toggleAllReactions()"
         x-text="'...'"
         x-show="!showAllReactions && reactions.some(r => !hasReactions(r.type))"></a>
    </div>
  </div>

  <div class="post-meta">
    <div class="post-date">
      <span class="post-date-text">{{formatted_date}}</span>
      <!--a href="#" class="translate-link" data-post-id="{{id}}" data-translated="false">Translate</a-->
  {{#if editBtn}}
      <span x-data="{ isAdmin: false }" x-init="isAdmin = localStorage.getItem('microblog_auth') !== null">
        <a x-show="isAdmin" href="/compose?edit={{id}}" class="edit-link">Edit</a>
      </span>
  {{/if}}
    </div>
  </div>

  {{#if metadata.transistor_embed_code}}
  <iframe width="100%" height="180" style="margin: 1rem 0 0 0"
       frameborder="no" scrolling="no" seamless=""
       src="https://share.transistor.fm/e/{{metadata.transistor_embed_code}}"></iframe>
      <p style="font-size: 0.9rem">Also available on:
  <a
    href="https://podcasts.apple.com/us/podcast/startups-are-hard/id1616301447">Apple Podcast</a> |
    <a href="https://www.youtube.com/@maxua-public">YouTube</a>
    |
  
    <a
      href="https://open.spotify.com/show/2lnCQcCqkCxRI8yVbNeJfm">Spotify</a>
      </p>
  {{/if}}
</div>